/* Tela de cadastro e login */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cadastro-login{
    background-color: #F9C7DD;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-div{
    display: flex;
    background-color: #ffffff;
    border: solid 2.5px #F582A7;
    border-radius: 40px;
    max-width: 900px;
    overflow: hidden;
    height: 80vh;
    width: 80vw;
}

.tela-parte1{
    width: 50%;
    background-color: #ffffff;
    border-radius: 40px 0 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.img-logo-form{ 
    width: 200px;
    height: 200px;
}

.bem-vindo{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #F582A7;
    margin-top: 70px;
    width: 260px;
    text-align: center;
}

.tela-parte2{
    width: 50%;
    padding: 20px;
    background-color: #F582A7A8;
    border-radius: 0px 38px 38px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    margin-top: 50px;
}

.form-campos{
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 17px;
}

.input-icon{
    position: relative;
    max-width: 300px;
    margin-bottom: 15px;
}

.input-icon svg{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    pointer-events: none;
}

.inputs-form{
    border-radius: 10px;
    border: solid #F582A7;
    border-width: 2px;
    height: 35px;
    width: 100%;
    font-size: 12px;
    box-sizing: border-box;
    padding: 12px 12px 12px 40px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

input:focus{
    border: 2px solid rgb(210, 52, 110);
    outline: none;
    background-color: #fef6f9;
}

.botao-form{
    background-color: #F582A7;
    border: none;
    border-radius: 12px;
    padding: 8px 25px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin: 30px 0px 10px 0px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mensagem-erro{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin: 15px 0 -25px 0;
    text-align: center;
}

#sem-conta{
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 13px;
}

#sem-conta a{
    color: #D94F7B;
    text-decoration: none;
}

/* Sidebar e navs*/

.nav1{
    background-color: #F9C7DD;
    padding: 2px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
}

.logo{
    height: 45px;
    width: 100px;
}

.nav2{
    background-color: #F582A7;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    padding: 8px;
    font-weight: 600;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-icon{
    cursor: pointer;
}

.sidebar{
    background-color: #F582A7;
    width: 180px;
    min-height: 100vh;
    color: white;
    padding: 20px;
    position: relative;
    font-family: "Poppins", sans-serif;
    flex-shrink: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 20px 0;
}

.sidebar a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar a.ativo {
    background-color: #D94F7B; 
    padding: 6px 7px;
    border-radius: 8px;
    color: white;
    display: block;
    display: flex;
    text-align: center;
}


/* Tela de listagem produtos */

.container{
    display: flex;
}

.conteudo-principal{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 30px;
    padding: 10px;
    flex: 1;
    font-family: "Poppins", sans-serif;
}

.produtos-cadastrar h1{
    color: #D94F7B;
    font-weight: 500;
    font-size: 28px;
}

.produtos-cadastrar{
    display: flex;
    justify-content:space-between;
}

.botao-cadastrar{
    background-color: #D94F7B;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
    transition: 0.3s;
}

.botao-cadastrar:hover {
    opacity: 0.85;
}

.card-produto{
    display: flex;
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    align-items: flex-start;
    gap: 20px;
}

.img-produto{
    width: 100px;
    height: 100px;
    border-radius: 12px;
    object-fit: cover;
}

.info{
    display: grid;
    grid-template-columns: 180px 200px 180px 200px 100px; 
    gap: 10px;
    align-items: start;
    width: 100%;
}

.info p {
    margin: 6px 15px;
    color: #772D06;
}

.info p strong {
    color: rgba(119, 45, 6, 0.9);
}

.acoes {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.editar {
    background-color: #3FC53F;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    width: 80px;
}

.excluir {
    background-color: #D24747;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    width: 80px;
}

.editar:hover,
.excluir:hover {
    opacity: 0.9;
}

/* Tela de cadastrar produtos */

.cadastro{
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.form-container {
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 500px;
}

.titulo{
    color: #D94F7B;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    font-size: 22px;
}

.label{
    font-weight: 550;
    color: #772D06;
    display: block;
    margin-top: 20px; 
}

.inputs{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 8px;
    box-sizing: border-box; 
}

.button-cadastrar{
    background-color: #D94F7B;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 8px;
    margin-top: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.button-cadastrar:hover{
    background-color: #F582A7;
}

.mensagem-sucesso {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #c3e6cb;
    margin-bottom: 15px;
    font-weight: 500;
    text-align: center;
}

.mensagem-erro {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #f5c6cb;
    margin-bottom: 15px;
    font-weight: 500;
    text-align: center;
}

.link-voltar{
    position: absolute;
    top: 20px;
    left: 20px;
}